# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.nav
*.snm
*.vrb

# Python
__pycache__/
*.py[cod]
*.venv
.env
.ipynb_checkpoints/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Data
train.geojson
test.geojson

# model
model.joblib
